<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div layout:fragment="body">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="card shadow-lg border-0 rounded-lg mt-5">
						<div class="card-header">
							<h3 class="text-center font-weight-light my-4">Crie sua
								conta</h3>
						</div>
						<div class="card-body">

							<form th:action="@{/user/create}" method="POST" th:object="${userDto}">

								<div class="form-row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="small mb-1" for="inputFirstName">Nome
												usuário</label>

											<input class="form-control py-4" id="inputFirstName" type="text"
												placeholder="Insira seu nome de usuário"
												th:field="${userDto.username}" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="small mb-1" for="inputLastName">Nome
												completo</label><input class="form-control py-4" id="inputLastName"
												type="text" placeholder="Insira o seu nome completo"
												th:field="${userDto.name}" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="small mb-1" for="inputEmailAddress">Email</label><input
										class="form-control py-4" id="inputEmailAddress" type="email"
										aria-describedby="emailHelp" placeholder="Insira o endereço de email"
										th:field="${userDto.email}" />
								</div>
								
								<div class="form-row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="small mb-1" for="inputPassword">Senha</label><input
												class="form-control py-4" id="inputPassword" type="password"
												placeholder="Insira a senha" th:field="${userDto.password}" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="small mb-1" for="inputConfirmPassword">Confirme
												a senha</label><input class="form-control py-4"
												id="inputConfirmPassword" type="password"
												placeholder="Confirme a senha" />
										</div>
									</div>
								</div>

								<div class="form-group mt-4 mb-0">

									<div class="alert alert-danger" th:if="${param.serverError}">Erro ao criar o
										usuário. Tente novamente.</div>

								</div>


								<div class="form-group mt-4 mb-0">

									<button type="submit" class="btn btn-primary btn-block">Criar a conta</button>


								</div>
							</form>
						</div>
						<div class="card-footer text-center">
							<div class="small">
								<a href="register.html">Já possui uma conta? Faça o login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>