<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Tempo de hoje</title>
</head>
<body>

	<div layout:fragment="body">

		<div class="container-fluid">
			<h1 class="mt-4">Tempo de hoje</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">Tempo de hoje</li>
			</ol>


			<div class="row">
				<div class="card">
					<div class="card-body">
						<div class="text-center">
							Tempo de hoje
						</div>
						<div>
							<p class="text-primary text-center" th:text="${response}">29 graus</p>
						</div>
					</div>
				</div>
			</div>






		</div>

	</div>


</body>
</html>